* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.workouts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.workout {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.workout .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.workoutImage {
  height: 200px;
  width: 100px;
  border-radius: 10px;

}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-rosa {
  padding: 10px 20px;
  margin: 10px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.rosaContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

}

.rosaItem {
  border: grey 2px solid;
  align-items: center;
  justify-content: center;
  border-radius: 20px;


}

.rosaText {
  align-items: center;
  justify-content: center;
  height: 100%;
}


.rosaMessage {
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 10px;
}

.chart {
  position: relative;
  align-items: center;
  justify-content: center;
}

.chartItem {
  padding: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.goalHeader {
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;

}

.chartHeader {
  background: #828282;
  ;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;

}

.message {
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;

}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;



}

.resourceItem {
  padding: 20px;
  position: relative;
  align-items: center;
  justify-content: center;


}

.resourceText {
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;

}

.resouceText:hover {
  transform: scale(0.98);
}


.resourceImage {
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 10%;
  justify-content: center;
  align-content: center;
}

.resourceHeading {
  background: #828282;
  ;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .rosaContainer {
    display: flex;
    flex-direction: column;
  }
  .rosaMessage {
    display: flex;
    flex-direction: column;
    padding: 10px;

  }
  .rosaItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    align-items: center;
   /*  padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px; */

  }

  .header ul {
    display: flex;
    flex-direction: column;
  }

}